
body{
    margin:0%;
    padding: 0%;
    text-align: center;
}



h1{
    font-size: 60px;
    font-weight: bold;
}

.mainconatiner{
display: flex;
/* flex-direction: column; */
width: 1800px;
height: 300px;
margin-right: 100px;
padding: 100px;

grid-template-columns: repeat(3,1fr);
background: radial-gradient(rgb(179, 14, 137),rgb(0, 255, 34),green,rgb(0, 204, 255),rgb(180, 31, 101),pink,skyblue);
background-color: rgb(12, 8, 11);
}


form{
    height: 200px;
    width: 600px;
    padding: 10px;
    margin: 10px;
    background-color: whitesmoke;
    border-radius: 20px;
}

 /* ///////////////////////////////////////// h2 ///////////////////////////////// */
h2{
font-size: 40px;
text-align: left;
padding: 5px;
margin-left: 10px;
border-bottom: 5px solid #080808;
}


.item1{
    height: 35px;
    width: 400px;
    text-align: left;
    font-size: 30px;
    border: none;
}

/* ////////////////////////////////////////////////////// .btn ///////////////////////////// */
.btn{
    height: 40px;
    width:70px;
    text-align: center;
    margin-bottom: 2px;
    margin-right: 105px;
    font-size: 25px;
    
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ task_container @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

 .task_container{
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    background-color:  whitesmoke;
    border-radius: 20px;

    
}  
/* /////////////////////////////////////////// h3 //////////////////////////////////////// */

 h3{
    font-size: 40px;
text-align: left;
padding: 5px;
margin-left: 10px;
border-bottom: 5px solid #080808;
}  

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ task_element @@@@@@@@@@@@@@@@@@@@@@@2 */

.task_element{
    display: flex;
    align-items: center;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    background-color: whitesmoke;
    margin-bottom: 20px;
}

/* //////////////////////////////////////////////// checkbox1 ////////////////////////////// */


 .checkbox1{
    height: 40px;
    width: 40px;
   

} 

/* /////////////////////////////////////////////// btn1 ////////////////////////// */


.btn1{
    height: 35px;
    width: 35px;
    border: none;
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: whitesmoke;
}  

/* ///////////////////////////////////////////// .todo_element ///////////////////////// */

.todo_element{
    height: 30px;
    width: 400px;
    text-align: left; 
    font-size: 30px;
}  

/* ////////////////////////////////////////////////////// edit ////////////////////////////////////// */

 .edit{
    height: 40px;
    width: 50px;
    font-size: 35px;
    font-weight: bold;
    border: none;
    background-color: whitesmoke;
 }
 
 /* ///////////////////////////////////////////// delet ////////////////////////////////// */

 .delete{
    height: 30px;
    width: 45px;
    font-size: 40px;
    border: none;
    font-weight: bold;
    margin-bottom: 25px;
    background-color: whitesmoke;
} 



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ h4 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.completed1{
    height: 200px;
    width: 600px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    background-color:  whitesmoke;
    border-radius: 20px;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ h4 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */



h4{
    font-size: 40px;
    text-align: left;
    /* padding: px; */
    margin-bottom: 20px;
    border-bottom: 5px solid #080808;

} 

/* //////////////////////////////////////////// .completed_element ////////////////////////////// */

.completed_element{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: whitesmoke;
    margin-bottom: 50px;
    
}

/* ///////////////////////////////////////////// .checkbox2 ////////////////////////////// */



.checkbox2{
    height: 40px;
    width: 40px;
   
} 

/* /////////////////////////////////////////////// .btn2 ////////////////////////////////////// */


 .btn2{
    height: 35px;
    width: 35px;
    border: none;
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: whitesmoke;
} 

/* /////////////////////////////////////////////////////// .completed_input ////////////////////////// */



 .completed_input{
    height: 30px;
    width: 400px;
    text-align: left; 
    font-size: 30px;
} 

/* //////////////////////////////////////////////// .edit1 /////////////////////////////////// */


.edit1{
    height: 40px;
    width: 50px;
    font-size: 35px;
    font-weight: bold;
    border: none;
    background-color: whitesmoke;
} 

/* //////////////////////////////////////////////////// .delet1 ///////////////////////// */




.delete1{
    height: 30px;
    width: 45px;
    font-size: 40px;
    border: none;
    font-weight: bold;
    margin-bottom: 25px;
    background-color: whitesmoke;

}


















 
